[tool.poetry]
name = "firedantic"
version = "0.2.7"
description = "Pydantic base models for Firestore"
authors = ["Digital Living International Ltd"]
license = "BSD-3-Clause"
readme = "README.md"
repository = "https://github.com/digitalliving/firedantic"
packages = [
    {include="firedantic", from="."}
]

[tool.poetry.dependencies]
python = ">=3.6.1,<4.0"
pydantic = "^1.8.2"
grpcio = "^1.39.0"
google-cloud-firestore = "^2.0.1"

[tool.poetry.dev-dependencies]
isort = "^5.5.2"
invoke = "^1.4.1"
mypy = "^0.782"
flake8 = "^3.8.3"
pytest = "^6.0.2"
pydevd_pycharm = "^202.7319.37"
pytest-asyncio = "^0.14.0"
black = "20.8b1"
watchdog = "^2.1.5"

[build-system]
requires = ["poetry>=1.0.0"]
build-backend = "poetry.masonry.api"
